@tailwind base;
@tailwind components;
@tailwind utilities;

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #757575;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background: #ffffff;
}